<div class="main-content">

    <div class="student-chat-list">
        <div class="chat-list-header">
        </div>
        <div class="list-container">
            <live-request></live-request>
        </div>
    </div>

    <div class="main-stage">

        <div class="main-display">
            <div class="window-container">
                <div class="insert-window">

                </div>
            </div>
            <div class="input-bar">
            </div>
        </div>

        <div class="minimized-windows">

        </div>
    </div>
    <div class="agent-chat">
    </div>

</div>