<div class="row content">
    <div class="col-sm-2 test">
        <div class="side-threads-header">
            Chat Threads
        </div>
        <div class="row threads-list">
            <live-request></live-request>
        </div>
        <div class="row threads-list">
            <directline-threads></directline-threads>
        </div>
        
    </div>
    <div class="col-sm-6 chat-panel">Col 2</div>
    <div class="col-sm-4">Col 3</div>
</div>
<!--
<div class="container-fluid">
    <div class="col-sm-3 sidenav hidden-xs">

    </div>
    <div class="col-sm-6 main-panel">

    </div>

    <div class="col-sm-3 group-chat">
    </div>
</div>

    -->
