.row.content{
    height: 900px;
}

.agent-panel, .thread-panel, .chat-panel {
    height: 100%;
    padding-left: 5px;
    /*padding-right: 0;*/
}


.waiting-threads, .current-threads{
    height: 50%;
    
}

@media screen and (max-width: 767px){
    .row.content{
        height: auto;
    }
    .chat-panel, .thread-panel, .chat-panel{
        height: auto;
    }

}

.side-threads-header, .chat-panel-header{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin:0;
}

.side-threads-header {
    color: white;
    background: linear-gradient(270deg,#2bc0ec,#1b81d7);
}
.chat-panel-header {

    color: #000000;
    background: #f5f5f5;
    border: 0.5px solid #e3e3e3;
    border-radius: 3px;


}
