<!--
<div class="signup">
    <md-card>
        <md-card-title>
            Sign up
        </md-card-title>
        <md-card-content>
            <form [formGroup]="signUpForm" class="form" novalidate>
                <md-input-container>
                    <input name="name" mdInput formControlName="name" placeholder="Full name of the user" type="name">
                    <md-error align="start" *ngIf="formErrors.name" class="form__error">{{ formErrors.name }}</md-error>
                </md-input-container>

                <md-input-container>
                    <input name="email" mdInput formControlName="email" placeholder="Your email address" type="email">
                    <md-error align="start" *ngIf="formErrors.email" class="form__error">{{ formErrors.email }}</md-error>
                </md-input-container>

                <md-input-container>
                    <input name="password" mdInput formControlName="password" placeholder="Choose a password" type="password">
                    <md-error align="start" *ngIf="formErrors.password" class="form__error">{{ formErrors.password }}</md-error>
                </md-input-container>
            </form>
        </md-card-content>
        <md-card-actions fxLayoutAlign="end center">
            <button md-button (click)="signUp()">Sign up</button>
        </md-card-actions>
    </md-card>
</div>


    -->