<div class="row agent-panel">
    <div class="col-sm-11">
        <!--
        <div class="agents-frame">
            
            <div class="agents-header">
                <h4 class="agents-title">Agents</h4>
            </div>
            <div class="agents-body">
                <agent-list [agents]="agentGroup$ | async"></agent-list>
            </div>
        </div> -->
    </div>
    <div class="col-sm-1 agent-navbar">
        <a><span class="glyphicon glyphicon-user nav-glyphs"></span></a>
        <a><span class="glyphicon glyphicon-stats nav-glyphs"></span></a>
        <a class="logout"><span class="glyphicon glyphicon-log-out nav-glyphs"></span></a>
    </div>
</div>