<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <base href="~/" />
</head>
<body>
    <a onclick="window.open('http://localhost:5000/index.html','','width=400, height=500')">Launch Chat Window</a>
</body>
</html>