
<div class="thread-item" >
    <div class="thread-top">
        <span class="label-topic">{{thread.topic}}</span>
        <span *ngIf="thread.unseenMessages.length > 0" [ngClass]="threadStatusSelector()">{{thread.unseenMessages.length}}</span>
        <span class="chat-duration">
            <span *ngIf="(_chatDuration | date : 'h') > 0">{{_chatDuration | date: 'h'}}hr </span>
            <span>{{_chatDuration | date: 'm'}}min</span>
        </span>
    </div>
    <div class="thread-middle">
        <span *ngIf="thread.unseenMessages.length > 0" class="message-text">{{thread.unseenMessages[thread.unseenMessages.length-1].text}}</span>
    </div>
    <div class="thread-bottom">
        <span class="switch-thread" (click)="onThreadClicked()">Select</span>
        <span class="remove-thread" (click)="onRemoveClicked()">Remove</span>
    </div>
</div>