# node packages
/src/OITChatBotSupport.Web/node_modules

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# docfx .NET documentation
/documentation/**/DROP/
/documentation/**/TEMP/
/documentation/**/packages/
/documentation/**/bin/
/documentation/**/obj/
/documentation/_site

# compodoc Angular documentation
/src/OITChatBotSupport.Web/ClientApps/AgentPortal/docs
/src/OITChatBotSupport.Web/ClientApps/Chatbot/docs

# test lib
/tests/obj

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/

#svn files
*.svn/

# Visual Studio 2015 cache/options directory
.vs/

# Webpack-bundled static files
/src/OITChatBotSupport.Web/wwwroot/agentdist/
/src/OITChatBotSupport.Web/wwwroot/chatbotdist/
/src/OITChatBotSupport.Web/wwwroot/vendordist/
/src/OITChatBotSupport.Web/wwwroot/polyfilldist/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/


# SQL Server files
*.mdf
*.ldf





