<div class="display-frame" >
    <div class="display-content">
        <div class="display-header">
            AGENT CHAT PORTAL
        </div>
        <div class="display-body">
            <chat-display [sessionMessages]="chatMessages$ | async"></chat-display>
        </div>
    </div>
</div>
<div class="history-frame">
    <div class="history-header">
        <cached-messages (hideCachedDisplay)="onHideCachedDisplay($event)"></cached-messages>
    </div>
</div>
<div class="keyboard-input-bar">
    <input-bar (messageSubmit)="onMessageSubmitted($event)"></input-bar>
</div>