.display-frame {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 5px 0 5px;
}
.display-header {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #dddfd4;
    text-align: left;
    font-family: sans-serif;
    border-bottom: 0.5px groove rgba( 178, 178, 178, .4 );
    font-size: 1vw;
    font-size-adjust: inherit;
    color: black;
    padding-left: 7px;
}
.display-body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    flex-direction: column-reverse;
    overflow-y: auto;
}
.display-content {
    position: relative;
    float: left;
    background-color: white;
    height: 90%;
    width: 63%;
    border-radius: 10px;
}
.history-frame {
    position: relative;
    float: right;
    height: 100%;
    width: 35%;
    overflow-y: auto;
}
.history-header {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #dddfd4;
    text-align: left;
    border-bottom: 0.5px groove rgba( 178, 178, 178, .4 );
    font-size: 1vw;
    font-family: sans-serif;
    color: black;
    font-weight: 400;
    padding-left: 10px;
}