<div class="chat-window">
    <header-panel (exitRequest)="onExitRequested()"></header-panel>
    <div class="window-body">
        <div class="message-display">
            <div *ngIf="notConnected" class="loader"></div>
            <message-list [chatMessages]=" chatMessages$ | async "></message-list>
        </div>
        <div class="partition"></div>
        <input-bar (messageSubmit)="onMessageSubmitted($event)"></input-bar>
        <transfer-button (transferRequest)="onTransferRequested()"></transfer-button>
    </div>
</div>