.thread-item {
    padding: 7px 15px 7px 15px;
    background-color: #e7f5fb;
    cursor: pointer;
    border-radius: 4px;
}
.chat-duration{
    font-size:11px;
}
.chat-duration, .chat-topic{
    float: right;
}
.label-panel{
    margin-bottom: 5px;
}
.label-student {
    font-size: small;
    background-color: #1b81d7;
}

li{
    margin: 5px 0px 5px 0px;
}
.message-text{
    background-color: white;
}
.badge{
    float:right;
}
.thread-messages {
    padding-top: 5px;
    padding-bottom: 20px;
}
.switch-thread{
    background-color: #1b81d7;

}

.remove-thread {
    background-color: #DC4C46;

}
.switch-thread, .remove-thread {
    float: right;
    width: 20%;
    cursor: pointer;
    margin-right: 2px;
}

    .remove-thread > :hover {
        background-color: #680000;
    }
    .switch-thread > :hover {
        background-color: #000099;
    }
.selected-thread-container {
    box-shadow: none;
}

ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
}
.inactive-thread{
    background-color:transparent;
}
.active-thread {
    background-color: #1b81d7;
}
.disconnected-thread {
    background-color: #DC4C46;
}

.message-time {
    float: right;
    font-size: 11px;
}

.message-text {
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}