

<div class="thread-item" [ngClass]="currentSelectContainer()" (click)="onToggleContent()">
    <div class="label-panel">
        <span class="label label-student">{{thread.topic}}</span>
        <span *ngIf="thread.unseenMessages.length > 0" class="badge" [ngClass]="threadStatusSelector()">{{thread.unseenMessages.length}}</span>
        <span class="chat-duration">Duration: {{_chatDuration | date: 'mm:ss'}}</span>
    </div>
    <div *ngIf="opened" class="thread-messages">
        <ul *ngIf="thread.unseenMessages.length > 0">
            <li class="message-text" *ngFor="let message of thread.unseenMessages">
                <div><span class="message-time">{{message.timestamp | date: 'shortTime'}}</span></div>
                <div class="message-text">{{message.text}}</div>
            </li>
        </ul>  
        <div>
            <span class="label switch-thread" (click)="onThreadClicked()">Select</span>
            <span class="label remove-thread" (click)="onRemoveClicked()">Remove</span>
        </div>
    </div>
</div> 
