.message-count {
    float: right;
}

.thread-container {
    padding-top: 10px;
    padding-bottom: 10px;
}
h4 {
    font-size: 14px;
}

.thread-header {
    cursor: pointer;
}

.thread-title {
    text-decoration: none;
}

.thread-title > .label {
    margin-right: 10px;
}

.thread-content > span {
    display: block;
}

.thread-content {
    padding-top: 10px;
}