

<div class="thread-item">
    <a class="thread-header" (click)="toggleContent()">
        <span class="glyphicon glyphicon-arrow-down current-thread-details"></span>
        <span class="badge message-count"> {{thread.active ? 1 : 0}}</span>
        <span class="label label-select" (click)="onThreadClicked()">Select </span> 
        
    </a>
    <div *ngIf="opened" class="thread-content" [@toggleAnimation]>
        <ul class="recent-messages">
            <li *ngFor="let message of thread.unseenMessages">
                <div>{{message}}</div>
            </li>
        </ul>
        <span class="label label-danger" (click)="onRemoveClicked()">Remove</span>

    </div>
</div> 