.chat-filter-panel {
    color: #000000;
    padding: 10px 0 10px 10px;
    font-weight: bold;
    font-size: 14px;
    height: 100%;
}
input{
    border: 0.5px solid lightgrey;
    width: 25%;
    font-size: 12px;
}