.row.main-content {
    height: 750px;
}
.icon-bar {
    background-color: #1b81d7;
    height: 5%;
}
.main-stage {
    height: 100%;
}
.chat-stage{
    height: 80%;
}
.chat-stage > div{
    height: 100%;
}
.feedback-center {
    height: 20%;
}
@media screen and (max-width: 767px) {
    .row.main-content {
        height: auto;
    }
}