<div class="row main-content">
    <div class="icon-bar"></div>
    <div class="main-stage col-sm-9">
        <div class="chat-stage">
            <div class="col-sm-4">
                <button type="button" class="btn btn-default" (click)="onStartSession()">Chat</button>
            </div>
            <div class="col-sm-8">
                <chat-bot *ngIf="chatConnected" (disconnectSession)="onDisconnectSession()"></chat-bot>
            </div>
        </div>
        <div class="feedback-center"></div>
    </div>
    <div class="col-sm-3"></div>
</div> 