.message-wrapper {    
    margin: 7px 18px 7px 18px;
    line-height: 1.5em;
    max-width: 80%;
}

.remote-message-time {
    font-size: 10px;
    float: left;
    width: 100%;
}

.host-message-time {
    font-size: 11px;
    float: right;
    width: 100%;
    text-align: right;
}

.host-bubble {
    background-color: #dfdfdf;
    float: right;
    border-radius:5px 5px 0 5px;
}

.remote-bubble {
    background-color: #d0ecf7;
    float: left;
    border-radius: 0 5px 5px 5px;
}

.align-wrapper-right {
    float: right;
}

.align-wrapper-left {
    float: left;
}

.bubble {
    text-align: left;
    padding: 5px 11px 5px 11px;
    position: relative;
    word-wrap: break-word;
    font-size: 14px;
    max-width: 100%;
}

.remote-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #d0ecf7;
    border-left: 0;
    border-top: 0;
    margin-top: -4px;
    margin-left: -14px;
}

.host-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 90%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-left-color: #dfdfdf;
    border-right: 0;
    border-bottom: 0;
    margin-top: -11px;
    margin-right: -14px;
}