<div class="row request-list-body">
    <div class="col-sm-12 waiting-threads-list">
        <ul id="request-toggle-list" class="collapse in">
            <li *ngFor="let request of liveRequests">
                <pending-request [liveRequest]="request"
                                 [groupToggle]="groupToggle"
                                 [waitTime]="timer"
                                 (acceptRequest)="onRequestAccepted($event)"></pending-request>
            </li>
        </ul>
    </div>
</div>