
.msg-row {
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin: 5px 0 20px 0;
    border-radius: 3px;
    background: #f4faff;
}
.message-sender{
    float: left;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    padding-right: 6px;


}
.align-text-left{
    float: left;
}
.align-text-right{
    float: right;
}
.highlight{
    background-color: yellow;
}
.message-time{
    font-size: 11px;
}

.label-sender {
    font-size:14px;
    font-weight: bold;
    text-transform: uppercase;

}

.label-bot{
    background-color: #38978D;
    float: right;
}
.label-student {
    background-color: #CFB095;
    float: left;
}

.label-self {
    background-color: #2bc0ec;
    float: right;
}

.message-context{
    padding-top: 2px;
}

.message-text{
    width: 92%;
    float: right;
}