    <div *ngIf="chatMessage.from.id.toLowerCase() === 'student'" class="message-time" [ngClass]="textSenderAlignment(chatMessage.from.id)">{{chatMessage.timestamp | date: 'yMdjm'}}</div>
    <div class="message-context">
        
        <div class="label label-sender" [ngClass]="labelColorSelector(chatMessage.from.id)">{{chatMessage.from.id[0]}}</div>
        <div class="message-text" [ngClass]="textSenderAlignment(chatMessage.from.id)">
            <span class="message-sender" [ngClass]="textSenderAlignment(chatMessage.from.id)">{{chatMessage.from.id}}</span>
            <div> {{chatMessage.text | queryHighlight : textFilter}} </div>
        </div>
        
    </div>
    <div *ngIf="chatMessage.from.id.toLowerCase() !== 'student'" class="message-time" [ngClass]="textSenderAlignment(chatMessage.from.id)">{{chatMessage.timestamp | date: 'yMdjm'}}</div>
    