
.request-item {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f4faff;
}
.request-label {
    background-color: #1b81d7;
    font-size: smaller;
    border-radius: 35%;
    margin-right: 10px;
}

.wait-time{
    float: right;
}

.request-content{
    padding-top: 5px;
    padding-bottom: 25px;
}
.request-details-label{
    font-weight: bold;
}
.request-details-text{
    float: right;
}
.label-accept {
    background-color: #1b81d7;
    float: right;
    font-size: smaller;
    cursor: pointer;
    margin-top: 5px;
}

.request-header {
    text-decoration: none;
    cursor: pointer;
}
