
.request-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f4faff;
}
.request-label {
    background-color: #2bc0ec;
    font-size: medium;
    border-radius: 35%;
    margin-right: 10px;
}
.request-content > span{
    display: block;
}
.request-content{
    padding-top: 10px;
    padding-bottom: 10px;
}

.label-accept {
    background-color: #2bc0ec;
    float: right;
    font-size: medium;
    cursor: pointer;
}

.request-header {
    text-decoration: none;
    cursor: pointer;
}
