.request-item {
    padding: 7px 15px 7px 15px;
    background-color: #e7f5fb;
}
.request-label {
    background-color: #2196f3;
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
    line-height: 1;
    text-align: center;
    padding: .2em .6em .3em; 
    border-radius: 5px;
    color: white;
}
    .request-label:hover {
        background-color: #79bff8;
    }

.wait-time{
    float: right;
    font-size: 11px;
}

.request-content{
    padding-top: 5px;
    padding-bottom: 25px;
}
.request-details-label{
    font-weight: bold;
    font-size:12px;
}
.request-details-text{
    float: right;
    font-size:11px;
}

.label-select {
    background-color: #2196f3;
    float: right;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    padding: .2em .6em .3em;
    color: white;
}

.request-header {
    text-decoration: none;
    cursor: pointer;
}
