<div class="request-item" [@liveRequestInOut]>
    <a class="request-header" (click)="toggleContent()">
        <span class="label request-label ">AR</span>
    </a>
    <div *ngIf="opened" class="request-content" [@toggleAnimation]>
        <span>
            Bot: {{liveRequest.botHandle}}
        </span>
        <span>
            Requested: {{liveRequest.timeRequested ? (liveRequest.timeRequested | date: 'shortTime') : ''}}
        </span>
        <span class="label label-accept" (click)="onAcceptClicked()">
            Accept
        </span>
    </div>
</div>