.chat-display {
    -webkit-flex: 9;
    -webkit-box-flex: 9;
    -moz-box-flex: 9;
    flex: 9;
    border-style: outset;
    background-color: white;
    overflow-y: auto;
}
.message-bubble {
    padding: 5px 11px 5px 11px;
    text-align: left;
    line-height: 1.5em;
    display: inline-block;
    vertical-align: top;
    margin: 5px 15px 5px 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    position: relative;
    background-color: #dbe9d8;
}
.message-row {
    width: 100%;
    float: left;
    margin: 5px 45px 5px 20px;
}

.username {
    font-size: 14px;
    color: black;
    text-transform: capitalize;
}