<div class="message-wrapper" [ngClass]="alignWrapperProperties(chatMessage.from.id)">
    <div *ngIf="chatMessage.from.id.toLowerCase() === 'student'" class="remote-message-time">{{chatMessage.timestamp | date: 'shortTime'}}</div>

        <span class="label label-sender" [ngClass]="labelProperties(chatMessage.from.id)">{{chatMessage.from.id[0]}}</span>
        <span class="bubble" [ngClass]="bubbleProperties(chatMessage.from.id)" [innerHTML]="chatMessage.text | queryHighlight : textFilter"></span>

    

    <div *ngIf="chatMessage.from.id.toLowerCase() !== 'student'" class="host-message-time">{{chatMessage.timestamp | date: 'shortTime'}}</div>
</div>
