<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
    <div class="section">
        <br />
        <h1>
            UTSA Web Application Template Login
        </h1><br />
        <div class="tblock100 tlogin">
            <h2>
                Please log in with your myUTSA ID and Passphrase
            </h2>
            <span class="required">
                <asp:Literal ID="LitErrorMessage" runat="server"></asp:Literal>
            </span>
            <asp:Login ID="LoginUser" runat="server" EnableViewState="false" RenderOuterTable="false" DestinationPageUrl="../Default.aspx">
                <LayoutTemplate>
                    <span class="required">
                        <asp:Literal ID="FailureText" runat="server"></asp:Literal>
                    </span>
                    <asp:ValidationSummary ID="LoginUserValidationSummary" runat="server" CssClass="required"
                                           ValidationGroup="LoginUserValidationGroup" ShowMessageBox="true" ShowSummary="false" />
                    <div class="formline">
                        <asp:Label ID="lblEmail" runat="server" AssociatedControlID="UserName" AccessKey="C"
                                   CssClass="block">myUTSA ID:&nbsp;&nbsp;</asp:Label>
                        <asp:TextBox ID="UserName" runat="server" CssClass="textEntry" ToolTip="Enter myUTSA ID"></asp:TextBox>
                        <asp:RequiredFieldValidator ID="UserNameRequired" runat="server" ControlToValidate="UserName"
                                                    CssClass="required" ErrorMessage="myUTSA ID is required." ToolTip="myUTSA ID is required."
                                                    ValidationGroup="LoginUserValidationGroup">*</asp:RequiredFieldValidator>
                    </div>
                    <div class="formline">
                        <asp:Label ID="PasswordLabel" runat="server" AssociatedControlID="Password" CssClass="block">Passphrase&nbsp;&nbsp;</asp:Label>
                        <asp:TextBox ID="Password" runat="server" CssClass="textEntry" TextMode="Password"></asp:TextBox>
                        <asp:RequiredFieldValidator ID="PasswordRequired" runat="server" ControlToValidate="Password"
                                                    CssClass="required" ErrorMessage="Passphrase is required." ToolTip="Passphrase is required."
                                                    ValidationGroup="LoginUserValidationGroup">*</asp:RequiredFieldValidator>
                    </div>
                    <div class="formline">
                        <asp:Button ID="LoginButton" runat="server" CommandName="Login" Text="Login"
                                    ValidationGroup="LoginUserValidationGroup" CssClass="button span small blue"
                                    OnClick="LoginButtonClick" />
                    </div>
                    <div class="disclaimer">
                        <p>
                            <br /><br /><br />
                            <a href="http://utsa.edu/oit/policy/index.html" target="_blank">Acceptable Use Policy</a>
                        </p>
                    </div>
                    <div class="disclaimer">
                        <p>
                            This computer application is the property of the University of Texas at San Antonio.
                            Improper or unauthorized use of this application may lead to criminal prosecution
                            or other disciplinary action. Use of this application, authorized or unauthorized,
                            constitutes consent to monitoring of the system and the user’s acknowledgement of
                            accountability and responsibility.
                        </p>
                    </div>
                </LayoutTemplate>
            </asp:Login>
        </div>

        <br />
    </div>
</asp:Content>
