<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/agent']">Agent Portal</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/logout']"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
            </ul>

        </div>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main-component">
    <div class="icon-bar">
        <a class="std-link" [routerLink]="['/agent']">Agent Portal</a>
    </div>
    <div class="route-content">
        <router-outlet></router-outlet>
    </div>
</div>

    -->