<div class="row page-header">
    <div>
        <span class="request-list-title">Requests: {{requestCount}}</span>
        <span class="btn-group btn-group-xs request-list-toggle-buttons" role="group">
            <button type="button" class="btn btn-default" (click)="expandRequests()">Expand</button>
            <button type="button" class="btn btn-default" (click)="collapseRequests()">Collapse</button>
        </span>
    </div>
    <!--
    <div class="btn-group btn-group-xs request-list-toggle-buttons" role="group">
        <button type="button" class="btn btn-default" (click)="expandRequests()">Expand</button>
        <button type="button" class="btn btn-default" (click)="collapseRequests()">Collapse</button>
    </div>  -->
</div>